/* styles.css */
body {
    font-family: Arial, sans-serif;
}

header {
    background-color:#022c0c ;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header img {
    max-width: 100px;
    border-radius: 50%;
}

nav ul {
    list-style: none;
    display: flex;
    background-color: #028a22;
    padding: 10px;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

section {
    margin: 20px;
}

section h2 {
    font-size: 24px;
}

a {
    text-decoration: none;
    color: #007BFF;
}
